{% extends 'base.html' %}
{% block titulo_pagina %}Lista de Alimentos - Tô de Dieta!{% endblock titulo_pagina %}
{% block h1_pagina %}
Alimentos
{% endblock h1_pagina %}
{% block content %}

<table class="table w-100">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Descrição</th>
        <th scope="col">Porção</th>
        <th scope="col">Unidade</th>
      </tr>
    </thead>
    {% for alimento in alimentos%}
    <tbody>
        <tr>
          <td>{{alimento.descricao}}</td>
          <td>{{alimento.porcao}}</td>
          <td>{{alimento.unidade}}</td>
        </tr>
      </tbody>
    {% endfor %} 
  </table>
{% endblock content %}