{% extends 'base.html' %}
{% block h1_pagina %}
Cadastrar Paciente
{% endblock h1_pagina %}
{% block content %}
<form class="form-signin" action="/paciente/formulario-paciente/" method="post">
    {% csrf_token %}
    <label for="email" class="font-weight-bold text-uppercase" >Endereço de e-mail</label>
    <input type="email" id="email" class="form-control mb-3" name="email" placeholder="Endereço Email" required autofocus>

    <label for="nome" class="font-weight-bold text-uppercase" >Nome</label>
    <input type="text" name="nome" id="nome" class="form-control mb-3" placeholder="Nome" required>

    <label for="idade" class="font-weight-bold text-uppercase" >Idade</label>
    <input type="number" name="idade" id="idade" class="form-control mb-3" required>

    <label for="telefone" class="font-weight-bold text-uppercase" >Telefone</label>
    <input type="text" name="telefone" id="telefone" class="form-control mb-3" required>

    <label for="peso" class="font-weight-bold text-uppercase" >Peso</label>
    <input type="number" name="peso" id="peso" class="form-control mb-3" required>

    <label for="nivel" class="font-weight-bold text-uppercase" >Nível de atividade</label>
    <select id="nivel" class="form-control mb-3" required>
        <option selected>Escolha...</option>
        <option>1 - Pouca atividade</option>
        <option>2 - Média atividade</option>
        <option>3 - Intensa atividade</option>
      </select>

    <button class="btn btn-lg btn-success btn-block mb-3 text-uppercase font-weight-bold =" type="submit" value="Cadastrar">cadastrar</button>
</form>

{% endblock content %}